# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# NLP Specific (Large data and models)
data/
corpus/
models/
sampah/
*.h5
*.onnx
*.pt
*.pth

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
cc.id.300.bin
cc.id.300.bin.gz

# Data Privasi / PII
master_chat_wa.csv
master_chat_wa_data_dikit.csv

# IDE
.vscode/
.DS_Store
